<div class="modal-header">
    <h3 class="modal-title">Edit user info</h3>
</div>
<div class="modal-body">
   <form>
    <div class="form-group">
    <label for="first_name">First name</label>
    <input ng-model="user.first_name" type="text" class="form-control" id="first_name" placeholder="Enter first name">
  </div> 
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input ng-model="user.last_name" type="text" class="form-control" id="last_name" placeholder="Enter last name">
  </div>
   <div class="form-group">
    <label for="email">Email address</label>
    <input ng-model="user.email" type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
</form>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close(user)">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

