      <div class="panel panel-default">
        <div class="panel-body">
            <!-- Time picker area -->
           <div class="col-lg-6 time-entry">
              <div class="timepicker">
                <span class="timepicker-title label label-primary">Clock In</span>
                <timepicker ng-model="vm.clockIn" hour-step="1" minute-step="1" show-meridian="true">
                </timepicker>
              </div>
              <div class="timepicker">
              <span class="timepicker-title label label-primary">Clock Out</span>
              <timepicker ng-model="vm.clockOut" hour-step="1" minute-step="1" show-meridian="true">
              </timepicker>
              </div>           
          </div>
           <!-- end Time picker area -->
         
          <!-- Top form area -->
          <div class="col-lg-6">
            <div class="time-entry-comment">
              <form>
                <div class="form-group">
                  <select name="user" class="form-control" ng-model="vm.timeEntryUser" ng-options="user.first_name + ' ' + user.last_name for user in vm.users">
                      <option value="">-- Select a user --</option>
                  </select>
                </div>
                 <div class="form-group">
                <textarea class="form-control" ng-model="vm.comment" rows="4" placeholder="Enter description"></textarea>
                </div>
                <button class="btn btn-default" ng-click="vm.logNewTime()">Save</button>
              </form> 
            </div>            
          </div>
          <!-- end Top form area -->
          
        </div>
      </div>      

      <div class="row">
        <div class="col-lg-8">
          <!-- Time entry section -->
          <div class="panel panel-default" ng-repeat="time in vm.timeEntries">
            <div class="panel-body">
      
              <div class="col-lg-8">
                <h4><i class="glyphicon glyphicon-user"></i>{{ time.user.first_name}} {{ time.user.last_name }}</h4>
                  <p><i class="glyphicon glyphicon-pencil"></i>{{ time.comment }}</p>
              </div>
             
              <div class="row">
                <div class="col-lg-4">
                  <h4><i class="glyphicon glyphicon-calendar"></i> 
                      {{time.end_time | date:'mediumDate'}}</h4>
                      <h2>
                          <span class="label label-primary" 
                                ng-show="time.loggedTime.duration._data.hours > 0">
                                {{time.loggedTime.duration._data.hours}} hour<span ng-show="time.loggedTime.duration._data.hours > 1">s</span>
                          </span>
                      </h2>
                  <h4><span class="label label-default">{{time.loggedTime.duration._data.minutes}} minutes</span></h4>
                </div>
              </div>
                  <div class="row">
                      <div class="col-sm-3">
                          <button class="btn btn-primary btn-xs" ng-click="showEditDialog = true">Edit</button>
                          <button class="btn btn-danger btn-xs" ng-click="vm.deleteTimeEntry(time)">Delete</button>
                      </div>
                  </div>

                  <!-- Editing section -->
                  <div class="row edit-time-entry" ng-show="showEditDialog === true">
                    <h4>Edit Activity</h4>
                    <div class="time-entry">
                        <div class="timepicker">
                            <span class="timepicker-title label label-primary">Clock In</span>
                            <timepicker ng-model="time.start_time" hour-step="1" minute-step="1" show-meridian="true"></timepicker> 
                        </div>
                        <div class="timepicker">
                            <span class="timepicker-title label label-primary">Clock Out</span>
                            <timepicker ng-model="time.end_time" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
                        </div>
                   </div>
                   <div class="col-sm-6">
                        <h5>User</h5>
                        <select name="user" class="form-control" ng-model="time.user" ng-options="user.first_name + ' ' + user.last_name for user in vm.users track by user.id">
                            <option value="user.id"></option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <h5>Comment</h5>
                        <textarea rows="3" ng-model="time.comment" class="form-control">{{time.comment}}</textarea>
                    </div>
                    <div class="edit-controls">
                        <button class="btn btn-success btn-sm" ng-click="vm.updateTimeEntry(time)">Save</button>
                        <button class="btn btn-primary btn-sm" ng-click="showEditDialog = false">Close</button>
                    </div>                            
                </div>
                <!-- End editing section -->
            </div>
          </div>
          <!-- Time entry section -->
        </div>


        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-body">
              
                <h2><i class="glyphicon glyphicon-time"></i> Total duration:</h2>
                <h1><span class="label label-primary">{{vm.totalTime.hours}} hours</span></h1>
                <h3><span class="label label-default">{{vm.totalTime.minutes}} minutes</span></h3>
            
            </div>
          </div>
        </div>
      </div>