<div class="panel panel-default">
  <div class="panel-body">
  <!-- user list -->
  <div class="row">   
      <div class="col-lg-3 user-block" ng-repeat="user in usr.users">
      <div class="media">
        <div class="media-left">          
          <img class="profile-image-small" ng-src="{{ user.profileimage }}" alt="{{ user.firstname }}" />          
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ user.firstname}} {{ user.lastname}}</h4>
          <p>{{ user.email }}</p>
          <button ng-click="usr.openEditUserModal('sm', user)" class="btn btn-default btn-sm" type="button">Edit</button>          
        </div>
      </div>
    </div>      
  <!-- End user list -->
  </div>
</div>