<div class="panel panel-default">
  <div class="panel-body">
  <!-- user list -->
  <div class="row">   
      <div class="col-lg-3" ng-repeat="user in usr.users">
      <div class="media">
        <div class="media-left">          
          <i class="glyphicon glyphicon-user"></i>          
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ user.first_name}} {{ user.last_name}}</h4>
          <p>{{ user.email }}</p>
          <button ng-click="usr.openEditUserModal('sm', user)" class="btn btn-default" type="button">Edit</button>
          <button class="btn btn-default" type="submit">Remove</button>
        </div>
      </div>
    </div>      
  <!-- End user list -->
  </div>
</div>